
body{
    background-color: #25274d;
    padding: 10%;

    
}
.contact{
    height: 100vh;
    
}
.col-md-3{
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.imagen{
    width: 180px;
    border: 3px solid white;
}
.imagen{
    position: relative;
    animation: rebota 1s infinite;
}
@keyframes rebota{
    0% { top:0px;}
  50%  { top:-10px;}
  100% { top:0px;}
}
.titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}